@use "sass:color";

$background-color: #fefefe;
$border-color: #ddd;
$border-radius: 8px;
$container-padding: 10px;
$primary-color: #007bff;
$text-gray: gray;
$hover-background: #f1f1f1;
$avatar-background: #e0e0e0;
$tablet-width: 768px;
$desktop-width: 1024px;


.chat-item {
  display: flex;
  align-items: center;
  padding: $container-padding;
  margin: 0 0.5em 0 0.5em;
  border-radius: $border-radius;
  cursor: pointer;
  background-color: color.scale($background-color, $lightness: -10%);
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $hover-background;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $avatar-background;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $container-padding;

    svg {
      font-size: 1.5rem;
      color: $primary-color;
    }
  }

  .chat-details {
    flex: 1;
    display: flex;
    flex-direction: column;

    .chat-name {
      font-weight: bold;
      font-size: 1rem;
      color: $primary-color;
    }

    .last-message {
      font-size: 0.9rem;
      color: $text-gray;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .chat-time-status {
    display: flex;
    align-items: center;
    gap: 5px;

    .chat-time {
      font-size: 0.8rem;
      color: $text-gray;
    }

    .message-status {
      display: flex;
      align-items: center;

      svg {
        font-size: 1rem;
      }
    }
  }
}