@use "sass:color";

$header-background: #0c326f;
$primary-text-color: #ffffff;
$input-background: #f1f1f1;
$border-color: #ddd;
$padding: 20px;
$tablet-width: 768px;

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $padding;
  background-color: $header-background;
  color: $primary-text-color;

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: $primary-text-color;
    font-size: 1.5rem;
  }

  .header-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-text-color;
    margin: 0 auto;
    text-align: center;
  }
}
