$text-color: #00246B;
$header-background-color: #00246B;
$header-text-color: #CADCFC;
$chat-background-color: #CADCFC;
$chat-time-color: #555;
$floating-button-color: #FF4081;


:root {
  --text-color: #{$text-color};
  --header-background-color: #{$header-background-color};
  --header-text-color: #{$header-text-color};
  --chat-background-color: #{$chat-background-color};
  --chat-time-color: #{$chat-time-color};
  --floating-button-color: #{$floating-button-color};
}
