:root {
    --background-color: #000000;
    --text-color: #00246B;
    --header-background-color: #00246B;
    --header-text-color: #CADCFC;
    --chat-background-color: #CADCFC;
    --chat-time-color: #555;
    --floating-button-color: #FF4081;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto Mono", monospace;
}

.middle-header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.contact-chat-wrapper {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 10px;
}

.header-tools button {
    background: none;
    border: none;
    color: var(--header-text-color);
    cursor: pointer;
}

.chat-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-item {
    background-color: var(--chat-background-color);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
}

.chat-details {
    flex-grow: 1;
    margin-left: 10px;
}

.chat-name {
    font-weight: bold;
}

.last-message {
    font-size: 0.9em;
    color: var(--text-color);
}

.chat-time {
    color: var(--chat-time-color);
}

.chat-unread {
    background-color: #FF4081;
    color: white;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unread-count {
    font-size: 0.8em;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--floating-button-color);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
